html {
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
}

.app {
    display: flex;
    overflow: hidden;
}

.canvas {
    grid-area: canvas;
    /* background-color: white; */
}

.menu {
    grid-area: menu;
    display: flex;
    position: absolute;
    right: 0;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    border-left: 1px solid;
    background-color: #222831;
}

.box {
    grid-area: box;
    border-left: 1px solid;
    background-color: #30475e;
    transition-duration: 100ms;
}

.tab :first-child {
    border-bottom: 1px solid;
    padding: 10px;
    background-color: #222831;
    transition-duration: 100ms;
}
.selectedTab :first-child, .hoveredTab :first-child {
    border-bottom: 1px solid;
    background-color: #f2a365;
    padding: 10px;
    transition-duration: 100ms;
}

.stringifiedCode {
    padding: 10px;
    color: white;
    background-color: black;
}