html {
    overflow: hidden;
    background-color:#4f779e;
}

.app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.canvas {
    grid-area: canvas;
    /* background-color: white; */
    border-right: 3px solid #222831;
    border-bottom: 3px solid #222831;
    overflow: scroll;
    background-color: #dbdbdb;
}

.menu {
    grid-area: menu;
    display: flex;
    position: absolute;
    right: 0;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: #222831;
}

.box {
    grid-area: box;
    background-color: #30475e;
    transition-duration: 100ms;
    overflow: auto;
    border-left: 3px solid #222831 ;
}

.tab :first-child {
    padding: 10px;
    background-color: #3f444d;
    transition-duration: 100ms;
}
.selectedTab :first-child, .hoveredTab :first-child {
    background-color: #f2a365;
    padding: 10px;
    transition-duration: 100ms;
}

.stringifiedCode {
    padding: 10px;
    color: white;
    background-color: black;
}

.inputField {
    color: white;
    text-align: center;
    display: flex;
    padding: 10px;
}
.inputField :first-child {
    width: 100px;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    background-color: #222831;
    color: white;

}
.inputField > div {
}

input {
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    width: 150px;
    color: black;
    border: 5px solid #222831;
    border-left: none;
    background-color:white;
}

/* .inputFields :first-child {
    margin-top: 100px;
} */

button {
    padding: 20px;
    background-color: #222831;
    color: #f2a365;
    outline: none;
    border: none;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 5px;
}

.shapeButton, .selectedShapeButton, .hoveredShapeButton {
    padding: 5px;
    text-align: center;
    background-color: #222831;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #222831;
    transition-duration: 50ms;
}

.selectedShapeButton {
    background-color: #f2a365;
    transition-duration: 100ms;
    border-color:#f2a365;
}

.hoveredShapeButton {
    border-color: #f2a365;
    transition-duration: 100ms;
}

.label {
    border-radius: 5px;
    padding: 20px;
    color: black;
    margin: 10px;
    background-color:#222831;
    color: white;
}